<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/public/js/jquery.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Language Translator</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="comment">Source Text:</label>
            <textarea
              class="form-control"
              rows="5"
              id="text"
              name="text"
            ></textarea>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="source_language">Source language:</label>
            <select class="form-control" id="source_language"></select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="target_language">Target Language:</label>
            <select class="form-control" id="target_language"></select>
          </div>
        </div>

        <div class="col-md-12" style="text-align: center">
          <div class="form-group">
            <button id="submit" class="btn btn-primary" value="Translate Language">
              Translate Language
            </button>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="translated_text">Translated Text:</label>
            <div id="translated_text"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  <script src="/public/js/index.js"></script>
</html>
